.ft_Georgia{
	font-family: 'Georgia';
}

#menu{
	width:100%;
	background-color: white;
	border:1px solid silver;
	padding-bottom:15px;
	/*text-shadow: 2px 2px 5px #888888;*/
	-moz-box-shadow: 5px 5px 50px 0px #cfcfcf;
	-webkit-box-shadow: 5px 5px 50px 0px #cfcfcf;
	-o-box-shadow: 5px 5px 50px 0px #cfcfcf;
	box-shadow: 5px 5px 50px 0px #cfcfcf;
}
.sous-menu{
	/*background-color: blue;*/
	/*border:1px solid silver;*/
}
.box-shadow{
	-moz-box-shadow: 	5px 5px 10px 0px #cfcfcf;
	-webkit-box-shadow: 5px 5px 10px 0px #cfcfcf;
	-o-box-shadow: 		5px 5px 10px 0px #cfcfcf;
	box-shadow: 		5px 5px 10px 0px #cfcfcf;
}

.menu-item{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-item:hover{
	border:1px solid silver;
}

#menu-header{
	font-family: 'Andada SC';
	color:black;
	font-size: 1.3em;
	/*
	background-color: #DCDCDC;
	border-bottom:1px solid gold;
	*/
	letter-spacing: 3px;
	font-variant: small-caps;
	padding: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border:1px solid black;
	transition:all 0.5s ease;
	background-color: white;
}

#menu-header:hover{
	color:white;
	background-color:black;
	border:1px solid white;
}

.no-border-hover:hover{
	border:none;
}


.menu-item{
	font-size: 1.2em;
	cursor:pointer;
	/*font-family: 'Georgia';*/
	font-family: 'Andada SC';

	/*letter-spacing: 1px;*/
	padding-left: 20px;
}
/*
.sous-menu{
	padding-left: 20px;
}
*/
.active{
	font-weight: bold;
}