
.parallax-window {
    min-height: 300px;
    background: transparent;
}

.parallax-window .legend{
	width:100%;

	/*border:1px solid white;*/
	text-align: center;
	font-family: 'Georgia';
	font-size: 1.6em;
	top:110px;
	color:white;
	text-shadow: 2px 2px 5px #2F2F2F;
	opacity:0.2;
	transition:all 1s ease;
}

.parallax-window .legend:hover{
	opacity:1;
}

.legend p{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	background-color:rgba(255,255,255,0.2);
}

.story-text{
	opacity:0.5;
	transition:opacity 1s ease;
	margin-top:30px;
	margin-bottom: 30px;


}

.story-text:hover{
	opacity:1;
}